body{
    
    background: url(../images/og1.jpg)
        center center fixed 
        no-repeat;

}.dropdown {
    position: relative;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content{
      display: block;
  }
  #tag{
      text-align: center;
      font-size: 50px;  
      color: rgb(42, 212, 156);
      border-radius: 10px;
  }
  
table{
    font-size: 1.2em;
}
#nm{
    text-align: center;
    color: deeppink;
}
#nav1{
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    background-color: gray;
}
#nav2{
    text-align: center;
    font-size: 30px;
    color: black;
    background-color: orange;
}#nav3{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(49, 161, 161);
}
#nav4{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(97, 78, 202);
}
#nav1:hover{
    color: black;
    position: relative;
    background-color: cornflowerblue;;
}
#nav2:hover{
    color: white;
    background-color:  black;
}#nav3:hover{
    color: white;
    background-color: rgb(28, 120, 226);
}

#gym1{
    opacity: .6777;   
    float: inherit;
    size: auto fixed cover;  
  
}

video{

width: 1200px;
    height: 500px;
}


h1{
    color: black;
    font-size: 4em;
    margin-left: 200px;
    
}
li {
    float: left;

    list-style: none;
    padding:inherit;
    text-align: center;
  color: white;
    width: 400px;
    background-color: darkorange;
    height: 30px;

}
#aim{
     margin-left: 100px;
}
#aim:hover{
    color: white;
    background-color: darkseagreen; 
   
}
#we:hover{
    color: white;
    background-color: deepskyblue; 
}
#me:hover{
    color: white;
    background-color: grey; 
}
#we{
    color: deepskyblue;
    background-color: white;
}
ul{
    font-size: 26px;
    position: sticky;
  
}


h2{
    color: white;    
        
margin-left: 200px;    
}
p{
    font-size: 2em;
    color: greenyellow;
    margin-left: 200px;
    
}
form{
    font-size: 2em;
    color: white;
}
#address{
    font-size: 2em;
    color:white;
    background-color:#1E9F75; 
    text-align: center;
     font-family: 'Shadows Into Light', cursive;
    border-radius: 25px;
}
#yo1{
    color:  #245F5D;
    background-color:#8FD7F0;
    font-size: 40px;
    text-align: center;
}

#yo2{
    color: rgb(19%, 40%, 56%);
    background-color: #B0B0B0;
    font-size: 40px;
    text-align: center;
}
#yo3{
    color: rebeccapurple;
    background-color: #4887B0;
    font-size: 40px;
    text-align: center;
}
#yo4{
    color: #E159DF;
    background-color:#B2C4DC;
    font-size: 40px;
    text-align: center;
}

#yo8{
    color:  #245F5D;
    background-color:#8FD7F0;
    font-size: 40px;
    text-align: center;
}

#yo7{
    color: rgb(19%, 40%, 56%);
    background-color: #B0B0B0;
    font-size: 40px;
    text-align: center;
}
#yo6{
    color: rebeccapurple;
    background-color: #4887B0;
    font-size: 40px;
    text-align: center;
}
#yo5{
    color: #E159DF;
    background-color:#B2C4DC;
    font-size: 40px;
    text-align: center;
}

#yo10{
    color:  #245F5D;
    background-color:#8FD7F0;
    font-size: 40px;
    text-align: center;
}

#yo9{
    color: rgb(19%, 40%, 56%);
    background-color: #B0B0B0;
    font-size: 40px;
    text-align: center;
}
#yo12{
    color: rebeccapurple;
    background-color: #4887B0;
    font-size: 35px;
    text-align: center;
}
#yo11{
    color: #E159DF;
    background-color:#B2C4DC;
    font-size: 35px;
    text-align: center;
}

    